*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}


/* Appearance */
body{
    background-color: #AC87C5;
    
}


.container{
    background-color: white;
    border: 1px solid black;
    
}

button{
    background-color: #E0AED0;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #E0AED0;
    cursor: pointer;
}

.border{
    border: 1px solid black;
    
}

.row{
    border: 1px solid black;
}


/* Layout */

html, body{
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
   
}


button{
    align-self: flex-end;
    margin-bottom: 10px;
}

.container{
    
    width: 800px;
    height: 800px;
    
}


.row{
    display: flex;
    width: 800px;
}

